input[type=text] {
    display: block;
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
}

input[type=submit] {
    background: gray;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}

label {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}